.contents
  = render partial: 'sidebar'

  .chat-main
    .main-top-wrapper
      .main-header
        %p.main-header__group-name
          = @group.name
        .main-header__edit
          = link_to "Edit", edit_group_path(@group), class: "main-header__edit--btn"
      %ul.group-list
        %li.group-list__members
          Members:
        - @group.users.each do |group|
          %li.group-list__members
            = group.name

    .messages
      = render @messages
    .form
      .form__input
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__input__message', placeholder: 'type a message'
          = f.label :image, class: 'form__input__label' do
            = fa_icon "image"
          = f.file_field :image, class: 'form__input__image'
          = f.submit 'Send', class: 'form__input__send'


